<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>圖示1</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>communication_9893252</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>圖示2</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>language-learning_10037728</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>圖示3</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>dictionary_7439537</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>圖示4</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>translate_5146533</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>communication_9893252</string>
			</array>
		</dict>
	</dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLIconFile</key>
			<string>language-learning_10037728</string>
			<key>CFBundleURLName</key>
			<string>Vocabulary</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>word</string>
			</array>
		</dict>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>KleeOne-SemiBold.ttf</string>
		<string>GamjaFlower-Regular.ttf</string>
		<string>jf-openhuninn-2.0.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
	</array>
	<key>UIFileSharingEnabled</key>
	<true/>
</dict>
</plist>
